.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}
.modal-container {
    position: relative;
    width: 29rem;
    height: 31rem;
    background-color: #dd4b46;
    button {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: none;
        background-color: #dd4b46;
        position: absolute;
        color: white;
        font-size: 0.9rem;
        padding-left: 1px;
        top: 5px;
        right: 5px;
        @include roboto;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
}
.modal-close {
    position: absolute;
}
.is-modal-ac {
    width: 20rem;
    height: 13rem;
}
.ac-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
@import "../Modal_Confirm/modal-confirm";
@import "../Modal_AddVentas/modal-addventas";
@import "../Modal/Modal_Notification/modal_notification";
@import "../Modal_Confirm/modal-confirm";
