header {
    width: 95%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
    position: relative;
    .navpoint,
    .datefilter {
        height: 100%;
    }
    .navpoint {
        width: 25%;
        display: flex;
        align-items: center;
        margin-left: 2rem;
        h6 {
            height: 1.3em;
            width: 100%;
            margin: 0;
            @include roboto;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}
