.aside {
    display: flex;
    flex-direction: column;
}
.sellActions {
    width: 20rem;
    height: 2.5rem;
    position: absolute;
    z-index: 998;
    top: 20px;
    right: 6.4rem;
    display: flex;
    button {
        height: 100%;
        width: 50%;
        margin-right: 10px;
        background-color: #ff00008a;
        outline: none;
        border: none;
        cursor: pointer;
        color: #ffffff;
        &:last-child {
            width: 45%;
            background-color: #ffffff;
            border: 1px solid #ff00008a;
            color: rgba(104, 100, 100, 0.884);
        }
    }
}
@import "./Table_Products/table-products";
@import "../../Modals/modal-addventas";
