@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px; }
  * p {
    margin: 0; }

body {
  overflow: hidden; }

.container-principal {
  display: grid;
  grid-template-columns: 14rem repeat(2, 1fr);
  grid-template-rows: 60px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2; }

.header {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  grid-area: 1 /2 /2 /-1; }

#collapse-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3px;
  border-radius: 0 4px 4px 0;
  background-color: #ff2e25; }
  #collapse-button button {
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer; }
    #collapse-button button svg {
      width: 100%;
      height: 61%; }
      #collapse-button button svg .cls-1 {
        fill: white; }

.header-search {
  height: 56%;
  width: 20rem;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .header-search form,
  .header-search .form-control,
  .header-search button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-search form .form-control {
    border: 1px solid red;
    position: relative;
    padding-left: 2.3rem;
    margin-right: 0 !important;
    border-radius: 8px 0 0 8px;
    border-right: none; }
  .header-search span {
    height: 100%;
    width: 9%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6px; }
    .header-search span svg {
      height: 1rem;
      width: 1rem; }
      .header-search span svg .cls-1 {
        fill: #6c757d; }
  .header-search button {
    width: 33%;
    color: red;
    border: 1px solid red;
    border-radius: 0 8px 8px 0; }
    .header-search button:hover {
      background-color: red;
      color: white; }

.container-tools {
  height: 100%;
  width: 17em;
  right: 0;
  margin: 0 17px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5em; }
  .container-tools .profile {
    width: 11em;
    height: 100%;
    display: flex;
    border-left: 1px solid rgba(104, 100, 100, 0.199);
    border-right: 1px solid rgba(104, 100, 100, 0.199);
    background-color: rgba(104, 100, 100, 0.05); }
    .container-tools .profile a,
    .container-tools .profile .profile-photo,
    .container-tools .profile .profile-details {
      display: flex;
      justify-content: center;
      align-items: center; }
    .container-tools .profile a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: rgba(104, 100, 100, 0.884); }
      .container-tools .profile a .profile-photo {
        height: 100%;
        width: 22%;
        padding-left: 0.3rem; }
        .container-tools .profile a .profile-photo .miniature {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #FF2E25;
          color: white; }
      .container-tools .profile a .profile-details {
        height: 100%;
        width: 78%;
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem; }
        .container-tools .profile a .profile-details h5,
        .container-tools .profile a .profile-details h6 {
          height: 100%;
          width: 100%;
          font-family: 'Roboto', sans-serif;
          margin: 0;
          display: flex;
          justify-content: left;
          align-items: center; }
        .container-tools .profile a .profile-details .details-name,
        .container-tools .profile a .profile-details .details-info {
          height: 50%;
          width: 100%; }
        .container-tools .profile a .profile-details .details-name h5 {
          font-size: 1rem;
          padding-top: 0.6rem;
          font-weight: bold; }
        .container-tools .profile a .profile-details .details-info h6 {
          font-size: 0.7rem;
          padding-bottom: 0.6rem; }

.notifications {
  width: 2em;
  height: 100%;
  cursor: pointer; }
  .notifications .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; }
    .notifications .icon svg {
      height: auto;
      width: 58%; }
      .notifications .icon svg .cls-1 {
        fill: rgba(104, 100, 100, 0.87); }
    .notifications .icon span {
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #ff2e25;
      right: 2px;
      top: 20px;
      border-radius: 50%; }
      .notifications .icon span p {
        height: 100%;
        width: 100%;
        margin: 0;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: white; }

.notifications-expanded {
  max-height: 17em;
  width: 17em;
  display: block;
  position: absolute;
  background-color: #fffdfd;
  top: 3.6em;
  transform: translate(-240px, 2px);
  -webkit-box-shadow: 0px 10px 26px 6px rgba(108, 117, 125, 0.24);
  box-shadow: 0px 10px 26px 6px rgba(108, 117, 125, 0.24);
  border: 1px solid #e7ebf0;
  border-radius: 5px 0 5px 5px;
  font-family: 'Roboto', sans-serif;
  z-index: 1000; }
  .notifications-expanded .options,
  .notifications-expanded .view {
    width: 100%;
    height: 20%; }
  .notifications-expanded .options {
    display: flex;
    height: 15%;
    background-color: white; }
    .notifications-expanded .options h5,
    .notifications-expanded .options span {
      display: flex;
      align-items: center; }
    .notifications-expanded .options h5 {
      font-size: 1rem;
      height: 100%;
      margin: 0;
      padding-left: 12px; }
    .notifications-expanded .options span {
      height: 100%;
      width: 69%;
      display: flex;
      justify-content: flex-end;
      padding-right: 12px;
      padding-top: 3px; }
      .notifications-expanded .options span a {
        height: 50%;
        width: 80%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #1920ff;
        font-size: 0.7rem; }
  .notifications-expanded .content {
    width: 99%;
    height: 68%;
    overflow-y: scroll;
    padding-right: 3px; }
    .notifications-expanded .content .cards {
      width: 100%;
      height: 2.8rem;
      margin-bottom: 1px;
      display: flex; }
      .notifications-expanded .content .cards .mini {
        height: 100%;
        width: 22%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .notifications-expanded .content .cards .mini .circle {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .notifications-expanded .content .cards .mini .circle svg {
            width: 62%;
            height: auto;
            padding-left: 1.5px; }
            .notifications-expanded .content .cards .mini .circle svg .cls-1 {
              fill: white; }
        .notifications-expanded .content .cards .mini .n1 {
          background-color: #ffda40; }
        .notifications-expanded .content .cards .mini .n2 {
          background-color: #1920ff; }
        .notifications-expanded .content .cards .mini .n3 {
          background-color: rgba(255, 0, 0, 0.842); }
      .notifications-expanded .content .cards .card-content {
        height: 100%;
        display: flex;
        width: 76%;
        flex-direction: column;
        padding: 5px 0 5px 2px;
        color: rgba(104, 100, 100, 0.884); }
        .notifications-expanded .content .cards .card-content h5,
        .notifications-expanded .content .cards .card-content h6 {
          height: 100%;
          margin: 0;
          display: flex;
          align-items: center; }
        .notifications-expanded .content .cards .card-content h5 {
          font-size: 0.9rem; }
        .notifications-expanded .content .cards .card-content h6 {
          font-size: 0.7rem; }
      .notifications-expanded .content .cards:hover {
        background-color: #ff2c2594;
        cursor: pointer; }
        .notifications-expanded .content .cards:hover h5,
        .notifications-expanded .content .cards:hover h6 {
          color: black; }
    .notifications-expanded .content::-webkit-scrollbar {
      width: 10px;
      height: 100%; }
    .notifications-expanded .content::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
      box-shadow: inset 0 0 1px grey; }
    .notifications-expanded .content::-webkit-scrollbar-thumb {
      background: #ff2c259f;
      border-radius: 10px; }
  .notifications-expanded .view {
    height: 17%;
    width: 100%;
    margin-top: 2px; }
    .notifications-expanded .view:hover {
      background-color: #ff2c25c0; }
      .notifications-expanded .view:hover a {
        color: white;
        transition: 0.2s; }
    .notifications-expanded .view a {
      height: 100%;
      width: 100%;
      font-size: 0.8rem;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: rgba(104, 100, 100, 0.884);
      display: flex;
      justify-content: center;
      align-items: center; }

.settings {
  width: 2em;
  height: 20px; }
  .settings button {
    border-radius: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent; }
    .settings button svg {
      height: 100%;
      width: 1.5rem; }
      .settings button svg .cls-1 {
        fill: rgba(104, 100, 100, 0.87); }
    .settings button:focus {
      box-shadow: none; }

.container-settings {
  width: 8rem;
  height: 100%;
  background-color: red;
  position: absolute;
  right: 0; }

header {
  width: 95%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
  position: relative; }
  header .navpoint,
  header .datefilter {
    height: 100%; }
  header .navpoint {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 2rem; }
    header .navpoint h6 {
      height: 1.3em;
      width: 100%;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 1.2rem; }

.navbar {
  width: 100%;
  grid-area: 1 / 1 / 6 / 2;
  height: 100vh;
  background-color: #FF2E25;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: relative; }
  .navbar .container-logo {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar .container-logo svg {
      height: 3.3em;
      width: auto;
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.548); }
      .navbar .container-logo svg .cls-1 {
        fill: white; }
      .navbar .container-logo svg .cls-2 {
        fill: black; }
      .navbar .container-logo svg .cls-3 {
        fill: white; }
  .navbar .container-menu {
    height: 27em;
    display: flex;
    justify-content: center;
    padding-top: 0.6rem; }
    .navbar .container-menu .menu-items {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      padding-left: 0; }
    .navbar .container-menu .menu-title {
      width: 82%;
      height: 6%;
      display: flex;
      text-align: left;
      align-items: center;
      margin: 0.4rem 0; }
      .navbar .container-menu .menu-title p {
        height: 100%;
        color: white;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        margin: 0; }

.container-logout {
  height: 3em;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18px; }
  .container-logout span {
    height: 100%;
    width: 10%;
    margin-right: 0.5rem; }
    .container-logout span svg {
      height: 1rem;
      width: auto; }
      .container-logout span svg .cls-1 {
        fill: white; }

.button-inicio {
  width: 13%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button-inicio a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; }
    .button-inicio a:hover {
      background-color: #ffffff;
      transition: 0.3s; }
      .button-inicio a:hover .cls-1 {
        fill: #ff2e25; }
    .button-inicio a svg {
      height: 79%;
      width: auto; }
      .button-inicio a svg .cls-1 {
        fill: #ffffff; }

.btn-logout {
  height: 80%;
  width: 88%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #FF2E25;
  border: 1px solid white;
  position: relative; }
  .btn-logout:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease; }
  .btn-logout:hover:before {
    width: 100%; }
  .btn-logout span svg .st0 {
    fill: white; }

li {
  height: 7%;
  width: 84%;
  list-style: none;
  margin-bottom: 4px;
  font-weight: 100; }
  li a {
    text-decoration: none; }
  li .item-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem; }
    li .item-list:hover {
      background-color: white;
      cursor: pointer;
      border-radius: 5px; }
      li .item-list:hover h2 {
        color: #FF2E25;
        font-weight: bold; }
      li .item-list:hover .cls-1 {
        fill: #FF2E25; }
    li .item-list span {
      height: auto;
      width: 1rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      li .item-list span svg {
        width: 100%;
        height: auto; }
        li .item-list span svg .cls-1 {
          fill: white; }
    li .item-list h2 {
      color: white;
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center; }

.aside {
  height: 100%;
  width: 100%;
  position: relative; }
  .aside .container-content {
    height: 100vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; }

footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0; }
  footer .container-footer {
    width: 77rem;
    height: 1.6rem;
    transform: translate(0px, 0px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    color: rgba(104, 100, 100, 0.493); }
    footer .container-footer p,
    footer .container-footer .container-links_info {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      footer .container-footer p a,
      footer .container-footer .container-links_info a {
        height: 100%;
        text-decoration: none;
        color: rgba(104, 100, 100, 0.493);
        display: flex;
        justify-content: center;
        align-items: center; }
        footer .container-footer p a:hover,
        footer .container-footer .container-links_info a:hover {
          color: rgba(104, 100, 100, 0.836); }
      footer .container-footer p .about,
      footer .container-footer .container-links_info .about {
        width: 9rem; }
      footer .container-footer p .help,
      footer .container-footer .container-links_info .help {
        width: 3rem; }
      footer .container-footer p .contact_us,
      footer .container-footer .container-links_info .contact_us {
        width: 6.5rem; }
    footer .container-footer p {
      width: 25rem; }
    footer .container-footer .container-links_info {
      width: 21em; }

.quickact {
  height: 3rem;
  width: 13rem;
  background-color: rgba(255, 0, 0, 0.33);
  border: 1px solid red;
  border-radius: 4px;
  position: absolute;
  top: 9px;
  left: 10px; }
  .quickact h6 {
    height: 36%;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding-top: 1px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: bold; }
  .quickact ul {
    height: 64%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0; }
    .quickact ul li {
      width: 33.3%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
    .quickact ul .icon a {
      height: 18px;
      width: auto;
      position: relative; }
      .quickact ul .icon a:hover .container-label {
        display: flex; }
      .quickact ul .icon a svg {
        height: 100%;
        width: 100%; }
        .quickact ul .icon a svg .cls-1 {
          fill: rgba(104, 100, 100, 0.884); }
      .quickact ul .icon a span {
        width: 12px;
        height: 12px;
        background-color: red;
        position: absolute;
        top: 0px;
        right: -6px;
        border-radius: 50%;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 1px; }

.container-label {
  width: 62px;
  height: 37px;
  position: absolute;
  display: flex;
  top: 26px;
  justify-content: center;
  flex-direction: column;
  z-index: 1000; }
  .container-label .container-triangle {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .container-label .container-triangle .triangle {
      width: 3px;
      height: 100%;
      border-right: 6px solid transparent;
      border-top: 0px solid transparent;
      border-left: 6px solid transparent;
      border-bottom: 8px solid red; }
  .container-label .label {
    height: 80%;
    width: 100%;
    background-color: red;
    border-radius: 3px; }
    .container-label .label h6 {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      text-align: center;
      color: white;
      font-family: 'Roboto', sans-serif; }

.aside {
  display: grid;
  grid-area: 2 / 2 / 6 / 4; }

.content-grid {
  width: 62em;
  height: 25em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a1 a2 a3 a4 a4" "a5 a6 a7 a4 a4" !important;
  grid-gap: 0.5rem; }
  .content-grid .cards,
  .content-grid .c4 {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(104, 100, 100, 0.2); }
  .content-grid .cards {
    height: 10rem;
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(104, 100, 100, 0.884); }
    .content-grid .cards .card-title,
    .content-grid .cards .card-descript,
    .content-grid .cards .card-comport {
      width: 100%;
      height: 26%;
      margin: 0;
      display: flex;
      align-items: center; }
    .content-grid .cards .card-title {
      font-size: 1.2rem; }
    .content-grid .cards .card-descript {
      height: 44%;
      font-size: 1.7rem;
      font-weight: bold; }
    .content-grid .cards .card-comport {
      flex-direction: column;
      height: 28%;
      display: flex;
      align-items: center; }
      .content-grid .cards .card-comport .label1,
      .content-grid .cards .card-comport .label2 {
        height: 50%; }
      .content-grid .cards .card-comport .label1 {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: #0acf97; }
        .content-grid .cards .card-comport .label1 span {
          height: 100%;
          width: 1rem;
          margin-right: 0.4rem; }
          .content-grid .cards .card-comport .label1 span svg {
            width: 1rem;
            height: 1rem; }
            .content-grid .cards .card-comport .label1 span svg .cls-1 {
              fill: #0acf97; }
        .content-grid .cards .card-comport .label1 h6 {
          width: 80%;
          height: 100%;
          margin: 0;
          display: flex;
          align-items: center;
          padding-top: 0.2rem; }
    .content-grid .cards .info {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px; }
      .content-grid .cards .info a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .content-grid .cards .info a svg {
          height: 1rem;
          width: 1rem; }
          .content-grid .cards .info a svg .cls-1 {
            fill: red; }
  .content-grid .c3 .card-comport .label1 {
    color: red; }
    .content-grid .c3 .card-comport .label1 span {
      transform: rotate(180deg); }
      .content-grid .c3 .card-comport .label1 span svg .cls-1 {
        fill: red; }
  .content-grid .c4 {
    grid-column-start: a4;
    grid-column-end: a4;
    grid-row-start: a4;
    grid-row-end: a4;
    height: 91%; }
    .content-grid .c4 h2 {
      margin: 0;
      height: 20%;
      font-size: 1.5rem; }
  .content-grid .c5 .card-comport .label1 {
    color: red; }
    .content-grid .c5 .card-comport .label1 span svg .cls-1 {
      fill: red; }
  .content-grid .c6 .card-comport .label1 span {
    transform: rotate(180deg); }

.aside {
  display: flex;
  flex-direction: column; }

.sellActions {
  width: 20rem;
  height: 2.5rem;
  position: absolute;
  z-index: 998;
  top: 20px;
  right: 6.4rem;
  display: flex; }
  .sellActions button {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    background-color: #ff00008a;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff; }
    .sellActions button:last-child {
      width: 45%;
      background-color: #ffffff;
      border: 1px solid #ff00008a;
      color: rgba(104, 100, 100, 0.884); }

.products-table {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .products-table table {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; }
    .products-table table tr {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #f0f8ff; }
      .products-table table tr td {
        height: 48%;
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
        color: #686464; }
    .products-table table .input {
      width: 4%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .products-table table .input input[type="checkbox"] {
        height: 15px;
        cursor: pointer; }
    .products-table table th {
      height: 48%;
      width: 20%; }
  .products-table .title {
    height: 2.5rem;
    border-top: 1px solid rgba(104, 100, 100, 0.712);
    background-color: #f2f2f2;
    color: #686464; }

.add-sale {
  width: 100%;
  height: 100%; }
  .add-sale h1 {
    height: 3rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.32rem; }
  .add-sale form {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .add-sale form ul {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .add-sale form ul li {
        display: flex;
        flex-direction: column;
        height: 12%;
        width: 100%; }
        .add-sale form ul li span,
        .add-sale form ul li h4 {
          height: 100%; }
        .add-sale form ul li span {
          width: 20%; }
        .add-sale form ul li h4 {
          width: 80%;
          font-size: 0.9rem;
          color: #ffffff;
          font-family: 'Roboto', sans-serif; }
        .add-sale form ul li input {
          height: 100%;
          width: 100%;
          outline: none;
          padding-left: 3px;
          font-family: 'Roboto', sans-serif;
          color: #686464; }
    .add-sale form .input {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .add-sale form .input input {
        height: 3rem;
        width: 10rem;
        border: 1px solid #ffffff;
        border-radius: 3px;
        background-color: #dd4b46;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        cursor: pointer; }
        .add-sale form .input input:hover {
          background-color: #f36e69; }

.aside {
  display: grid;
  grid-area: 2 / 2 / 6 / 4; }

.content-grid {
  width: 62em;
  height: 25em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a1 a2 a3 a4 a4" "a5 a6 a7 a4 a4" !important;
  grid-gap: 0.5rem; }
  .content-grid .cards,
  .content-grid .c4 {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(104, 100, 100, 0.2); }
  .content-grid .cards {
    height: 10rem;
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(104, 100, 100, 0.884); }
    .content-grid .cards .card-title,
    .content-grid .cards .card-descript,
    .content-grid .cards .card-comport {
      width: 100%;
      height: 26%;
      margin: 0;
      display: flex;
      align-items: center; }
    .content-grid .cards .card-title {
      font-size: 1.2rem; }
    .content-grid .cards .card-descript {
      height: 44%;
      font-size: 1.7rem;
      font-weight: bold; }
    .content-grid .cards .card-comport {
      flex-direction: column;
      height: 28%;
      display: flex;
      align-items: center; }
      .content-grid .cards .card-comport .label1,
      .content-grid .cards .card-comport .label2 {
        height: 50%; }
      .content-grid .cards .card-comport .label1 {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: #0acf97; }
        .content-grid .cards .card-comport .label1 span {
          height: 100%;
          width: 1rem;
          margin-right: 0.4rem; }
          .content-grid .cards .card-comport .label1 span svg {
            width: 1rem;
            height: 1rem; }
            .content-grid .cards .card-comport .label1 span svg .cls-1 {
              fill: #0acf97; }
        .content-grid .cards .card-comport .label1 h6 {
          width: 80%;
          height: 100%;
          margin: 0;
          display: flex;
          align-items: center;
          padding-top: 0.2rem; }
    .content-grid .cards .info {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px; }
      .content-grid .cards .info a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .content-grid .cards .info a svg {
          height: 1rem;
          width: 1rem; }
          .content-grid .cards .info a svg .cls-1 {
            fill: red; }
  .content-grid .c3 .card-comport .label1 {
    color: red; }
    .content-grid .c3 .card-comport .label1 span {
      transform: rotate(180deg); }
      .content-grid .c3 .card-comport .label1 span svg .cls-1 {
        fill: red; }
  .content-grid .c4 {
    grid-column-start: a4;
    grid-column-end: a4;
    grid-row-start: a4;
    grid-row-end: a4;
    height: 91%; }
    .content-grid .c4 h2 {
      margin: 0;
      height: 20%;
      font-size: 1.5rem; }
  .content-grid .c5 .card-comport .label1 {
    color: red; }
    .content-grid .c5 .card-comport .label1 span svg .cls-1 {
      fill: red; }
  .content-grid .c6 .card-comport .label1 span {
    transform: rotate(180deg); }

.aside {
  display: flex;
  flex-direction: column; }

.sellActions {
  width: 20rem;
  height: 2.5rem;
  position: absolute;
  z-index: 998;
  top: 20px;
  right: 6.4rem;
  display: flex; }
  .sellActions button {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    background-color: #ff00008a;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff; }
    .sellActions button:last-child {
      width: 45%;
      background-color: #ffffff;
      border: 1px solid #ff00008a;
      color: rgba(104, 100, 100, 0.884); }

.products-table {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .products-table table {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; }
    .products-table table tr {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #f0f8ff; }
      .products-table table tr td {
        height: 48%;
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
        color: #686464; }
    .products-table table .input {
      width: 4%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .products-table table .input input[type="checkbox"] {
        height: 15px;
        cursor: pointer; }
    .products-table table th {
      height: 48%;
      width: 20%; }
  .products-table .title {
    height: 2.5rem;
    border-top: 1px solid rgba(104, 100, 100, 0.712);
    background-color: #f2f2f2;
    color: #686464; }

.add-sale {
  width: 100%;
  height: 100%; }
  .add-sale h1 {
    height: 3rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.32rem; }
  .add-sale form {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .add-sale form ul {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .add-sale form ul li {
        display: flex;
        flex-direction: column;
        height: 12%;
        width: 100%; }
        .add-sale form ul li span,
        .add-sale form ul li h4 {
          height: 100%; }
        .add-sale form ul li span {
          width: 20%; }
        .add-sale form ul li h4 {
          width: 80%;
          font-size: 0.9rem;
          color: #ffffff;
          font-family: 'Roboto', sans-serif; }
        .add-sale form ul li input {
          height: 100%;
          width: 100%;
          outline: none;
          padding-left: 3px;
          font-family: 'Roboto', sans-serif;
          color: #686464; }
    .add-sale form .input {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .add-sale form .input input {
        height: 3rem;
        width: 10rem;
        border: 1px solid #ffffff;
        border-radius: 3px;
        background-color: #dd4b46;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        cursor: pointer; }
        .add-sale form .input input:hover {
          background-color: #f36e69; }

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center; }

.modal.is-open {
  display: flex; }

.modal-container {
  position: relative;
  width: 29rem;
  height: 31rem;
  background-color: #dd4b46; }
  .modal-container button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background-color: #dd4b46;
    position: absolute;
    color: white;
    font-size: 0.9rem;
    padding-left: 1px;
    top: 5px;
    right: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer; }
    .modal-container button:hover {
      color: white; }

.modal-close {
  position: absolute; }
