.aside {
    height: 100%;
    width: 100%;
    position: relative;
    .container-content {
        height: 100vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
}

@import "../Footer/footer";
@import "../Quick_Actions/quick_actions";
@import "../Routes/routes";
